<h1>Dear <%= username %>,
    Your account has been created. To set your password, please click the following link: <a href="<%= resetLink %>">Reset your password</a>..
    This link will expire in 1 day.
</h1>